<% layout('./layouts/adminLayout') -%>

<link rel="stylesheet" href="../../static/css/admin/styleAddCourse.css">
<title>Add Courses</title>

<section id="addCourseIntroSection">
    <div class="d-flex flex-row justify-content-center w-100 mt-3">
        <% if(success && success.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error && error.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
    </div>
    <div class="addCourseTitle">
        <h1>Add Course</h1>
    </div>
    <form class="addCourseForm col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10 validated-form" action="/addCourse"
        method="post" novalidate>
        <div class="form-group mb-3">
            <label for="courseTitle" class="mb-2">Course Title</label>
            <input type="text" class="form-control" placeholder="Course Title" id="courseTitle" name="courseTitle"
                required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter valid Course Title.
            </div>
        </div>
        <div class="form-group">
            <label for="instructor">Select Instructor</label>
            <select class="form-select" aria-label="Default select example" id="instructor" name="instructor">
                <% for (const it of instructorData) { %>
                <option value="<%= it._id%>"><%= it.instructorName%></option>
                <% } %>
            </select>
        </div>
        <div class="d-flex flex-row justify-content-center w-100">
            <a href="/addInstructor" class="btn btn-secondary my-2 w-50" role="button">Add New
                Instructor</a>
        </div>
        <div class="form-group mb-3">
            <label for="videoId" class="mb-2">Course Link</label>
            <input type="text" class="form-control" id="videoId" placeholder="Enter YouTube Video ID" name="videoId"
                required>
            <small class="form-text text-muted">Enter only the Youtube Video ID</small>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter valid Video ID.
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="description" class="mb-2">Course Description</label>
            <input type="text" class="form-control" placeholder="Enter the Course Description" id="description"
                name="description" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter Course Description.
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="summary" class="mb-2">Summary</label>
            <textarea type="text" class="form-control" placeholder="Enter Summary (less than 20 words)" id="summary"
                name="summary" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter Course Summary.
            </div>
        </div>
        <div class=" form-group mb-3">
            <label for="tags-input" class="mb-2">Tech Stacks Used</label>
            <input type="text" id="tags-input" class="tags-input form-control" name="techStack" data-role="tagsinput"
                placeholder="Add Tech Stack here" value="HTML" required>
            <small class="form-text text-muted">Separate keywords with a comma or enter
                key</small>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter Tech stacks used.
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center w-100 mb-3">
            <button type="submit" class="btn btn-success mx-2 my-2 w-50">Submit</button>
        </div>
    </form>

</section>