<% layout('./layouts/adminLayout') -%>

<link rel="stylesheet" href="../../static/css/admin/styleViewInstructors.css">
<title>View Users</title>

<section id="usersSection">
    <div class="pageTitle">
        <h1>Users</h1>
    </div>
    <div class="usersContent">
        <div class="userBox">
            
        </div>
    </div>
</section>