<section id="courseReviewSection">
    <h1>Reviews</h1>
    <div class="reviewBody">
        <div class="reviewBox editReview">
            <div class="reviewHeading">
                <div class="reviewerName">
                    <h3>John Stones</h3>
                </div>
                <div class="reviewBtn">
                    <a href="#" class="btn btn-info mx-2" role="button">Edit</a>
                </div>
            </div>
            <form action="#" method="post">
                <div class="rating">
                    <label for="reviewRating">Rating: </label>
                    <input type="text" name="reviewRating" id="reviewRating" placeholder="5">
                </div>
                <div class="reviewContent">
                    <label for="reviewContentText">Review: </label>
                    <input type="text" name="reviewContentText" id="reviewContentText" placeholder="Enter review here">
                </div>
                <div class="submitBtn">
                    <a href="#" class="btn btn-success mx-2" role="button">Submit</a>
                </div>
            </form>
        </div>
        <div class="reviewBox">
            <div class="reviewHeading">
                <div class="reviewerName">
                    <h3>John Stones</h3>
                </div>
                <div class="reviewBtn">
                    <a href="#" class="btn btn-info mx-2 editButton" role="button">Edit</a>
                </div>
            </div>
            <div class="rating">
                5
            </div>
            <div class="reviewContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magnam dicta dignissimos doloremque,
                debitis veniam quos reiciendis quis nobis optio.
            </div>
        </div>
    </div>
</section>