<section id="contactSection">
    <div class="contactBody">
        <div class="contactLeft">
            <img src="../static/img/logo/logo.png" alt="Error not found!!!" />
        </div>
        <div class="contactRight">
            <p>copyright &copy; All rights reserved 2023</p>
        </div>
    </div>
</section>
<script src="../static/js/validateForm.js"></script>
<script src="../index.js"></script>