<section id="contactSection">
    <div class="contactBody">
        <div class="contactLeft">
            <img src="../static/img/logo/logo.png" alt="Error not found!!!" />
            <p>copyright &copy; All rights reserved 2023</p>
        </div>
        <div class="contactRight">
            <h1>FOLLOW US ON</h1>
            <div class="contactLogo">
                <a href="https://www.instagram.com" target="_blank"><img
                        src="../static/img/contact/insta.png" /></a>
                <a href="https://www.facebook.com" target="_blank"><img src="../static/img/contact/fb.png" /></a>
                <a href="https://www.twitter.com" target="_blank"><img src="../static/img/contact/tw.png" /></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="../static/img/contact/ln.png" /></a>
                <a href="https://www.youtube.com" target="_blank"><img src="../static/img/contact/yt.png" /></a>
                <a href="https://www.whatsapp.com" target="_blank"><img src="../static/img/contact/wp.png" /></a>
            </div>
            <div class="contactLink">
                <h1>CONTACT US</h1>
                <div class="phone">
                    <img src="../static/img/contact/call.png" alt="">
                    <a href=""> 1800-123-3598</a>
                </div>
                <div class="mail">
                    <img src="../static/img/contact/mail.png" alt="">
                    <a href="">contact@codingpandas.com</a>
                </div>
            </div>

        </div>
    </div>
    <script src="../static/js/validateForm.js"></script>
</section>
<script src="../index.js"></script>