<div id="navbar">
    <div class="mainLogo">
        <img src="../static/img/logo/logo.png" alt="Error not found!!!" />
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/student">Our Students</a></li>
            <li><a href="/join">Join Now</a></li>
        </ul>
    </div>
    <div class="navbarContent">
        <ul>
            <li><button class="customBtn">Login</button></li>
            <li><button class="customBtn">Register</button></li>
            <li><button class="customBtn">Logout</button></li>
        </ul>
    </div>
</div>