<div id="navbar">
    <div class="navContent">
        <div class="mainLogo">
            <img src="../static/img/logo/logo.png" alt="Error not found!!!" />
        </div>
        <div class="navroutes">


            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/courses">Our Courses</a></li>
                <li><a href="/webdev">Web Dev</a></li>
            </ul>
        </div>
    </div>

    <div class="navBtn">
        <ul>
            <li><a href="/login" class="customBtn">Login</a></li>
            <li><a href="/register" class="customBtn">Register</a></li>
            <li><a href="/logout" class="customBtn">Logout</a></li>
        </ul>
    </div>
</div>