<body>
    <div id="navbar">
        <div class="mainLogo">
            <img src="../static/img/logo/logo.png" alt="Error not found!!!" />
        </div>
        <div class="navbarContent">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/student">Our Students</a></li>
                <li><a href="/join">Join Now</a></li>
                <li><button class="btn">Login</button>
                </li>
            </ul>
        </div>
    </div>