<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="../static/css/styleAbout.css">
<title>About US</title>

<section id="aboutIntroSection">
    <div class="introBody">
        <div class="introContent">
            <h1>The platform for the next billion students</h1>
            <p>Transforming tech education for the next generation of developers</p>
        </div>
        <div class="introImage">
            <img src="../static/img/photos/ppl.jpg" alt="people">
        </div>
    </div>
</section>
<section id="aboutStorySection">
    <div class="storyBody">
        <div class="storyImage">
            <img src="../static/img/photos/teach.jpg" alt="people">
        </div>
        <div class="storyContent">
            <h1>Our Story</h1>
            <p>At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation
                of developers and to transform the the way tech education is delivered.</p>
            <p>Coding Ninjas was founded in 2016 to bridge the knowledge gap between colleges and industry.Coding
                Ninjas boasts of world-class teaching faculty and a state-of-art learning platform for Coding
                education with faculty alumni of IIT, Stanford, IIIT and Facebook. Coding Ninjas teaches 17+
                Programming courses in Foundation,l Advanced, Data & Development courses such as Machine Learning,
                Data Science, Web Development, Android and more.</p>
        </div>
    </div>
</section>
<section id="aboutInstructorSection">
    <div class="instructorTitle">
        <h1>Our Instructors</h1>
    </div>
    <div class="instructorBody">
        <% if(instructorData.length === 0){ %>
        <div class="alert alert-info my-3 mx-3 emptyAlert" role="alert">
            Instructors list is currently Unavailable, Please come Back Later.
        </div>
        <% }else{let i = 1; for(const iterator of instructorData) { if(i==5){i=1;}%>
        <div class="instructorBox">
            <div class="instructorHeading">
                <div class="headingImg">
                    <img src="../static/img/avatar/t<%=i++ %>.png" alt="image 1">
                </div>
                <div class="headingContent">
                    <h2><%= iterator.instructorName %></h2>
                    <h3><%= iterator.instructorTitle %></h3>
                </div>
            </div>
            <div class="instructorContent">
                <p><%= iterator.description %></p>
            </div>
        </div>
        <%} }%>
    </div>
</section>