<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/styleAbout.css">
    <title>About US</title>
</head>

<body>
    <div id="navbar">
        <div class="mainLogo">
            <img src="../static/logo/logo.png" alt="Error not found!!!" />
            <h1>Dance Academy</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/student">Our Students</a></li>
            <li><a href="/join">Join Now</a></li>
        </ul>
    </div>



    <section id="aboutIntroSection">
        <div class="introBody">
            <div class="introContent">
                <h1>The platform for the next billion students</h1>
                <p>Transforming tech education for the next generation of developers</p>
            </div>
            <div class="introImage">
                <img src="../static/img/photos/ppl.jpg" alt="people">
            </div>
        </div>
    </section>
    <section id="aboutStorySection">
        <div class="storyBody">
            <div class="storyImage">
                <img src="../static/img/photos/teach.jpg" alt="people">
            </div>
            <div class="storyContent">
                <h1>Our Story</h1>
                <p>At Coding Ninjas, our mission is to continuously innovate the best ways to train the next generation
                    of developers and to transform the the way tech education is delivered.</p>
                <p>Coding Ninjas was founded in 2016 to bridge the knowledge gap between colleges and industry.Coding
                    Ninjas boasts of world-class teaching faculty and a state-of-art learning platform for Coding
                    education with faculty alumni of IIT, Stanford, IIIT and Facebook. Coding Ninjas teaches 17+
                    Programming courses in Foundation,l Advanced, Data & Development courses such as Machine Learning,
                    Data Science, Web Development, Android and more.</p>
            </div>
        </div>
    </section>
    <section id="aboutInstructorSection">
        <div class="instructorTitle">
            <h1>Our Instructors</h1>
        </div>
        <div class="instructorBody">
            <div class="instructorBox b1">
                <div class="instructorHeading">
                    <div class="headingImg">
                        <img src="../static/img/avatar/1.png" alt="image 1">
                    </div>
                    <div class="headingContent">
                        <h2>John Stones</h2>
                        <h3>Co-Founder & Instructor</h3>
                    </div>
                </div>
                <div class="instructorContent">
                    <p>He holds a Bachelor’s degree in Computer Science from India’s most premier institute - IIT Delhi and a Master’s degree in Computer Science from Stanford University. He is a coding enthusiast and has worked with bigwigs like Amazon and Facebook in the past.</p>
                </div>
            </div>
            <div class="instructorBox b2">
                <div class="instructorHeading">
                    <div class="headingImg">
                        <img src="../static/img/avatar/2.png" alt="image 2">
                    </div>
                    <div class="headingContent">
                        <h2>Elizabeth Olsen</h2>
                        <h3>Instructor & Founding Member</h3>
                    </div>
                </div>
                <div class="instructorContent">
                    <p>She holds a Master’s degree in Technology from IIIT Delhi and has a great command on programming
                        concepts. She has taught the Fundamentals and Data Structures in Java & C++ for four years now.
                    </p>
                </div>
            </div>
            <div class="instructorBox b3">
                <div class="instructorHeading">
                    <div class="headingImg">
                        <img src="../static/img/avatar/3.png" alt="image 3">
                    </div>
                    <div class="headingContent">
                        <h2>Kyle Walker</h2>
                        <h3>Software Engineer & Instructor</h3>
                    </div>
                </div>
                <div class="instructorContent">
                    <p>He is an expert in JavaScript & React (Front-end) and has worked on open-source projects like
                        Firebug and
                        Zulip. He has also served as a GCI (Google Code-In) Mentor with Zulip. In his previous role as a
                        Software Engineer he has worked for Goibibo-MMT.</p>
                </div>
            </div>
            <div class="instructorBox b4">
                <div class="instructorHeading">
                    <div class="headingImg">
                        <img src="../static/img/avatar/4.png" alt="image 4">
                    </div>
                    <div class="headingContent">
                        <h2>Scarlett Johansson</h2>
                        <h3>Instructor & Founding Member</h3>
                    </div>
                </div>
                <div class="instructorContent">
                    <p>She holds a Master’s from IIIT Delhi and has more than four years of teaching experience in
                        advanced
                        level C++, Java and Android courses. Her data analytics research work has been published in
                        prestigious
                        conferences.</p>
                </div>
            </div>
        </div>
    </section>




    <section id="contactSection">
        <h2>Contact us</h2>
        <div class="contactArea">
            <a href="https://www.instagram.com" target="_blank" )><img src="../static/contact/insta.png" /></a>
            <a href="https://www.facebook.com" target="_blank" )><img src="../static/contact/fb.png" /></a>
            <a href="https://www.twitter.com" target="_blank" )><img src="../static/contact/tw.png" /></a>
            <a href="https://www.linkedin.com" target="_blank" )><img src="../static/contact/ln.png" /></a>
            <a href="https://www.youtube.com" target="_blank" )><img src="../static/contact/yt.png" /></a>
            <a href="https://www.whatsapp.com" target="_blank" )><img src="../static/contact/wp.png" /></a>
        </div>
    </section>
    <footer id="footer">
        copyright &copy; All rights reserved @ SASIDHARAN K 2021
    </footer>
</body>

</html>