<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="../static/css/styleCourses2.css">
<title>About US</title>

<section id="coursesIntroSection">
    <div class="coursesIntroBody">
        <div class="coursesIntroContent">
            <h1>Online Coding Courses</h1>
            <p>Most loved online coding courses for college students and working professionals</p>
        </div>
        <div class="coursesButtons">
            <a class="customBtn">Browse Popular Courses</a>
            <a class="custonBtn2">Login</a>
        </div>
    </div>
</section>
<section id="coursesContentSection">
    <div class="coursesContentSectionTitle">
        <h1>Explore our courses</h1>
    </div>
    <div class="coursesContentBody">
        <div class="courseBox" href="https://www.google.com" target="_blank">
            <div class="courseImage">
                <img src="../static/img/logo/mern.png" alt="DSA Logo">
            </div>
            <div class="courseTitle">
                <h2>Full Stack Web Development</h2>
            </div>
            <div class="courseBoxContent">
                <div class="courseDescription">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam nihil ad pariatur quos sit
                        officiis voluptates laborum in ipsum fugiat.</p>
                </div>
                <div class="courseInstructor">
                    <img src="../static/img/logo/tutor1.png" alt="Tutor Image">
                    <h3>James Anderson</h3>
                </div>
                <div class="courseTime">
                    <img src="../static/img/logo/timeline.svg" alt="time image">
                    <h3>14hr+</h3>
                </div>
                <div class="courseReview">
                    <h3>4.8</h3>
                    <img src="../static/img/logo/4-8-star.png" alt="review image">
                    <p>(2K+ students)</p>
                </div>
            </div>
            <a href="#" class="btn btn-secondary mx-2 my-2" role="button">Enroll Now</a>
        </div>
    </div>
</section>