<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/styleCourses.css">
    <title>About US</title>
</head>

<body>
    <div id="navbar">
        <div class="mainLogo">
            <img src="../static/logo/logo.png" alt="Error not found!!!" />
            <h1>Dance Academy</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/student">Our Students</a></li>
            <li><a href="/join">Join Now</a></li>
        </ul>
    </div>
    <section id="coursesIntroSection">
        <div class="coursesIntroBody">
            <div class="coursesIntroContent">
                <h1>Online Coding Courses</h1>
                <p>Most loved online coding courses for college students and working professionals</p>
            </div>
            <div class="coursesButtons">
                <a class="btn">Browse Popular Courses</a>
                <a class="btn2">Login</a>
            </div>
        </div>
    </section>
    <section id="coursesContentSection">
        <h1>Explore our courses</h1>
        <div class="coursesContentBody">
            <div class="courseBox course1">
                <div class="courseHeading">
                    <div class="courseTitle">
                        <h2>Full Stack Web Development</h2>
                    </div>
                    <div class="courseIcon">
                        <img src="../static/img/logo/mern.png" alt="DSA Logo">
                    </div>
                </div>
                <div class="courseFooter">
                    <div class="courseDescription">
                        <div class="courseTime">
                            <img src="../static/img/logo/timeline.svg" alt="">
                            <p>14hr+</p>
                        </div>
                        <div class="courseProjects">
                            <img src="../static/img/logo/project.svg" alt="">
                            <p>5+ Projects</p>
                        </div>
                    </div>
                    <div class="courseReview">
                        <h3>4.8</h3>
                        <img src="../static/img/logo/4-8-star.png" alt="">
                        <p>(2K+ students)</p>
                    </div>
                </div>
            </div>
            <div class="courseBox course2">
                <div class="courseHeading">
                    <div class="courseTitle">
                        <h2>Data Structures and Algorithms</h2>
                    </div>
                    <div class="courseIcon">
                        <img src="../static/img/logo/dsa.png" alt="DSA Logo">
                    </div>
                </div>
                <div class="courseFooter">
                    <div class="courseDescription">
                        <div class="courseTime">
                            <img src="../static/img/logo/timeline.svg" alt="">
                            <p>60hr+</p>
                        </div>
                        <div class="courseProjects">
                            <img src="../static/img/logo/project.svg" alt="">
                            <p>200+ Problems</p>
                        </div>
                    </div>
                    <div class="courseReview">
                        <h3>4.8</h3>
                        <img src="../static/img/logo/4-8-star.png" alt="">
                        <p>(17K+ students)</p>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <section id="contactSection">
        <h2>Contact us</h2>
        <div class="contactArea">
            <a href="https://www.instagram.com" target="_blank" )><img src="../static/contact/insta.png" /></a>
            <a href="https://www.facebook.com" target="_blank" )><img src="../static/contact/fb.png" /></a>
            <a href="https://www.twitter.com" target="_blank" )><img src="../static/contact/tw.png" /></a>
            <a href="https://www.linkedin.com" target="_blank" )><img src="../static/contact/ln.png" /></a>
            <a href="https://www.youtube.com" target="_blank" )><img src="../static/contact/yt.png" /></a>
            <a href="https://www.whatsapp.com" target="_blank" )><img src="../static/contact/wp.png" /></a>
        </div>
    </section>
    <footer id="footer">
        copyright &copy; All rights reserved @ SASIDHARAN K 2021
    </footer>
</body>

</html>