<% layout('./layouts/boilerplate') -%>
    <link rel="stylesheet" href="../static/css/styleEnrolledCourses.css">
    <title>Enrolled Courses</title>

<section id="enrolledCoursesSection">
    <div class="enrolledTitle">
        <h1>My Courses</h1>
    </div>
    <div class="coursesBody">
        <div class="courseBox">
            <div class="courseImage">
                <img src="../static/img/photos/programmer.jpg" alt="DSA Logo">
            </div>
            <div class="courseTitle">
                <h2>Full Stack Web Development</h2>
            </div>
            <div class="courseBoxContent">
                <div class="courseDescription">
                    <p>Master the MERN stack in web development through hands-on learning of modern tools and technologies</p>
                </div>
                <div class="courseInstructor">
                    <img src="../static/img/logo/tutor.png" alt="Tutor Image">
                    <h3>John Stones</h3>
                </div>
                <div class="courseTime">
                    <img src="../static/img/logo/timeline.svg" alt="time image">
                    <h3>11hrs+</h3>
                </div>
                <div class="courseReview">
                    <h3>4.8</h3>
                    <img src="../static/img/logo/4-8-star.png" alt="review image">
                    <p>(2K+ students)</p>
                </div>
            </div>
            <div class="submitBtn">
                <a href="#" class="btn btn-info mx-2 my-3" role="button">Watch</a>
                <a href="#" class="btn btn-danger mx-2 my-3" role="button">Unenroll</a>
            </div>
        </div>
    </div>

</section>