<% layout('./layouts/boilerplate') -%>

<title>Coding Panda</title>

<section id="introSection" class="gradient-background">
    <div class="d-flex flex-row justify-content-center w-100 mt-3">
        <% if(success && success.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error && error.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
    </div>
    <div class="introBody">
        <div class="introContent">
            <h1>Online Coding Courses</h1>
            <p>
                Elevate your skills with our diverse courses. Interactive learning, expert instructors. Start your
                journey to knowledge today!
            </p>
            <a href="/courses" class="customBtn">Explore Courses</a>
        </div>
        <div class="introImage">
            <img src="../static/img/photos/programmer.jpg" alt="Not Found">
        </div>
    </div>
</section>
<section id="joinSection">
    <div class="joinLeft">
        <p>Why join us?</p>
        <h3>
            Great students deserve the best jobs
        </h3>
        <h5>Coding Pandas Makes it Happen...</h5>
    </div>
    <div class="joinRight">
        <div class="circle c1">
            <h1>150+</h1>
            <p>
                Students working in FAANG
            </p>
        </div>
        <div class="circle c2">
            <h1>10</h1>
            <p>
                Students started their own companies
            </p>
        </div>
        <div class="circle c3">
            <h1>50+</h1>
            <p>
                Students having 5 Stars on CodeChef
            </p>
        </div>
        <div class="circle c4">
            <h1>100+</h1>
            <p>
                Students received International Job Offers
            </p>
        </div>
    </div>
</section>
<section id="placedSection">
    <div class="placedBody">
        <h1>Our students are placed at</h1>
        <div class="logoSection">
            <img src="../static/img/company/google.svg" alt="Not found">
            <img src="../static/img/company/microsoft.svg" alt="Not found">
            <img src="../static/img/company/facebook.svg" alt="Not found">
            <img src="../static/img/company/amazon.svg" alt="Not found">
            <img src="../static/img/company/adobe.svg" alt="Not found">
            <img src="../static/img/company/flipkart.svg" alt="Not found">
            <img src="../static/img/company/walmart.svg" alt="Not found">
            <img src="../static/img/company/oyo.svg" alt="Not found">
            <img src="../static/img/company/expedia.svg" alt="Not found">
            <img src="../static/img/company/samsung.svg" alt="Not found">
            <img src="../static/img/company/morganstanley.svg" alt="Not found">
        </div>
    </div>
</section>
<section id="reviewSection">
    <div class="reviewBody">
        <div class="review r1">
            <h1>4.9</h1>
            <img class="star" src="../static/img/logo/star.svg" alt="">
            <p>100+ reviews</p>
            <img src="../static/img/company/fblogo.svg" alt="" class="cmp">
        </div>
        <div class="review r2">
            <h1>4.8</h1>
            <img class="star" src="../static/img/logo/star.svg" alt="">
            <p>1000+ reviews</p>
            <img src="../static/img/company/glogo.svg" alt="" class="cmp">
        </div>
        <div class="review r3">
            <h1>50+</h1>
            <p class="reviewP">Questions asked</p>
            <p>5000 answered</p>
            <img src="../static/img/company/qlogo.svg" alt="" class="cmp">
        </div>
    </div>
</section>
<section id="newsSection">
    <div class="newsBody">
        <div class="newsLeft">
            <iframe src="https://www.youtube.com/embed/kkDAZjXkzqU" title="News Report" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="newsRight">
            <h1>India Inc on Reviewing Our Coding Panda Platform</h1>
            <p>Harry, Co-Founder, India Inc, joins a panel discussion with other industry stalwarts to talk
                about Coding Panda Platform.</p>
        </div>
    </div>
</section>