<% layout('./layouts/boilerplate') -%>

<link rel="stylesheet" href="../static/css/styleRegister.css">
<title>Register</title>

<section id="registerIntroSection">
    <div class="d-flex flex-row justify-content-center w-100 mt-3 mx-3">
        <% if(success && success.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error && error.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
    </div>
    <div class="registerTitle">
        <h1>Register Form</h1>
    </div>
    <form class="registerForm col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10" action="/register" method="post">
        <div class="row">
            <div class="col mb-3">
                <label for="firstName" class="mb-2">First Name</label>
                <input type="text" class="form-control" placeholder="First name" id="firstName" name="firstName">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback firstName-feedback">
                    Please enter valid First Name.
                </div>
            </div>
            <div class="col mb-3">
                <label for="lastName" class="mb-2">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" id="lastName" name="lastName">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Only Alphabets allowed
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email" class="mb-2">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                name="email">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback email-feedback">
                Please enter valid E-mail.
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="password" class="mb-2">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback password-feedback">
                Please enter valid Password.
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="repeatPassword" class="mb-2">Confirm Password</label>
            <input type="password" class="form-control" id="repeatPassword" placeholder="Confirm Password"
                name="repeatPassword">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback repeatPassword-feedback">
                Please re-enter the Password.
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center w-100 mb-3">
            <button type="submit" class="btn btn-success my-2 w-50">Submit</button>
        </div>
        <div class="redirectArea d-flex flex-row justify-content-center my-3">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="../static/js/registerValidation.js"></script>
<script src="../static/js/validateForm.js"></script>