@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* font-family: 'Reggae One', cursive; */
/* font-family: 'Mate SC', serif; */
/* font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}


#coursesIntroSection {
    height: 90vh;
    background: url(../img/bg/courses.jpg) no-repeat center center/cover;
}

#coursesIntroSection .coursesIntroBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    color: #fff;
    margin-left: 100px;
}

#coursesIntroSection .coursesIntroBody .coursesIntroContent h1 {
    margin: 20px 0;
}

#coursesIntroSection .coursesIntroBody .coursesIntroContent p {
    width: 70%;
    margin: 10px 0;
}

#coursesIntroSection .coursesIntroBody .coursesButtons {
    margin: 20px 0;
}



#coursesContentSection {
    height: auto;
    background-color: #e9fbff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#coursesContentSection .coursesContentSectionTitle h1 {
    text-align: left;
    font-size: 2rem;
    margin: 30px 50px;
}

#coursesContentSection .coursesContentBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#coursesContentSection .coursesContentBody .courseBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
    color: #000000;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: -1px 10px 20px #16161633;
    border-radius: 10px;
    overflow: hidden;
}

#coursesContentSection .coursesContentBody .courseBox .courseHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13174e;
    color: white;
    background: linear-gradient(45deg, #08568d, #13174e);
    width: 100%;
}

#coursesContentSection .coursesContentBody .courseBox .courseImage img {
    height: 170px;
    width: 320px;
    margin: 16px;
    border: 2px solid white;
    border-radius: 10px;
}

#coursesContentSection .coursesContentBody .courseBox .courseTitle h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent h3 {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0px 8px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent p {
    font-size: 0.9rem;
    margin: 0px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseDescription {
    height: 60px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseInstructor {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseInstructor img {
    width: 18px;
    height: 18px;
}


#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseTime {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 6px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseTime img {
    width: 18px;
    height: 18px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseReview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 6px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseReview img {
    width: 80px;
    padding-bottom: 1px;
    margin: 0px 10px;
}

.submitBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* .submitBtn .btn{
    width: 100%;
} */







.customBtn {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(92.12deg, #0fadf6 .78%, #f3f730 99.43%);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    line-height: -1px;
    cursor: pointer;
    border: none;
}

.customBtn:hover {
    border-radius: 5px;
    color: black;
    background: linear-gradient(92.12deg, #f3f730 .78%, #0fadf6 99.43%);
}

.custonBtn2 {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #0f98f3;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    line-height: -1px;
    cursor: pointer;
    border: none;
}

.custonBtn2:hover {
    border-radius: 5px;
    color: black;
    background-color: #6b6868;
}