* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#loginIntroSection{
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginTitle{
    text-align: center;
}