@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}


#courseSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #e9fbff;
    overflow: hidden;
}

#courseSection .courseVideo iframe{
    width: 90vw;
    height: 70vh;
    margin: 20px 40px;
}

#courseSection .aboutCourse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #ffffff;
    box-shadow: -1px 10px 20px #16161633;
    padding: 20px;
    margin: 30px;
}

#courseSection .aboutCourse .courseTitle h1{
    font-size: 2rem;
}

#courseSection .aboutCourse h3 {
    font-size: 1.1rem;
    margin-left: 20px;
    margin-bottom: 20px;
}

#courseSection .aboutCourse p {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

#courseSection .aboutCourse .descIcon {
    width: 25px;
    height: 25px;
}

#courseSection .aboutCourse .courseInstructor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


#courseSection .aboutCourse .courseTime {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* -------------- */

/* Responsive */

/* -------------- */

@media only screen and (max-width: 400px) {
    #courseSection .courseVideo iframe {
        width: 90vw;
        height: 50vh;
        margin: 10px 20px;
    }

    #courseSection .aboutCourse {
        padding: 10px;
        margin: 15px;
    }

    #courseSection .aboutCourse .courseTitle h1 {
        font-size: 1.2rem;
    }

    #courseSection .aboutCourse h3 {
        font-size: 0.9rem;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    #courseSection .aboutCourse p {
        font-size: 0.9rem;
        margin-bottom: 20px;
    }

    #courseSection .aboutCourse .descIcon {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width:400px) and (max-width: 700px) {
    #courseSection .courseVideo iframe {
        width: 90vw;
        height: 60vh;
        margin: 20px 40px;
    }

    #courseSection .aboutCourse {
        padding: 20px;
        margin: 30px;
    }

    #courseSection .aboutCourse .courseTitle h1 {
        font-size: 1.5rem;
    }

    #courseSection .aboutCourse h3 {
        font-size: 1rem;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    #courseSection .aboutCourse p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    #courseSection .aboutCourse .descIcon {
        width: 20px;
        height: 20px;
    }
}