@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* font-family: 'Reggae One', cursive; */
/* font-family: 'Mate SC', serif; */
/* font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}


#coursesIntroSection {
    height: 90vh;
    background: url(../img/bg/courses.jpg) no-repeat center center/cover;
}

#coursesIntroSection .coursesIntroBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    color: #fff;
    margin-left: 100px;
}

#coursesIntroSection .coursesIntroBody .coursesIntroContent h1 {
    margin: 20px 0;
}

#coursesIntroSection .coursesIntroBody .coursesIntroContent p {
    width: 70%;
    margin: 10px 0;
}

#coursesIntroSection .coursesIntroBody .coursesButtons{
    margin: 20px 0;
}



#coursesContentSection{
    height: 150vh;
    background-color: rgb(193, 248, 230);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#coursesContentSection .coursesContentSectionTitle h1{
    text-align: left;
    font-size: 2rem;
    margin: 50px;
}

#coursesContentSection .coursesContentBody .courseBox{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height:96%;
    width: 30%;
    color: #000000;
    background-color: #e6fcd9;
    margin: 20px;
    border: 4px solid rgb(7, 7, 7);
    border-radius: 10px;
    overflow: hidden;
}

#coursesContentSection .coursesContentBody .courseBox .courseImage img{
    height: 200px;
    width: 300px;
    margin: 10px;
}

#coursesContentSection .coursesContentBody .courseBox .courseTitle h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0px 8px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent p{
    font-size: 1rem;
    margin: 0px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseDescription{
    margin-bottom: 10px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseInstructor{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseInstructor img{
    width: 18px;
    height: 18px;
}


#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseTime{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseTime img{
    width: 18px;
    height: 18px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseReview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

#coursesContentSection .coursesContentBody .courseBox .courseBoxContent .courseReview img{
    width: 80px;
    padding-bottom: 1px;
    margin: 0px 10px;
}








.customBtn {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(92.12deg, #0fadf6 .78%, #f3f730 99.43%);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    line-height: -1px;
    cursor: pointer;
    border: none;
}

.customBtn:hover {
    border-radius: 5px;
    color: black;
    background: linear-gradient(92.12deg, #f3f730 .78%,  #0fadf6 99.43%);
}

.custonBtn2{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #0f98f3;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    line-height: -1px;
    cursor: pointer;
    border: none;
}

.custonBtn2:hover {
    border-radius: 5px;
    color: black;
    background-color: #6b6868;
}