@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* font-family: 'Reggae One', cursive; */
/* font-family: 'Mate SC', serif; */
/* font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#profileSection {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileSection .profileHeading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 30px;
}


#profileSection .profileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(133, 232, 250);
}

#profileSection .profileContent .profileHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profileSection .profileContent .profileHeader h3{
    color: black;
    
}

#profileSection .profileContent .profileHeader h5{
    color: rgb(73, 73, 73);
    font-size: 1.2rem;
}

#profileSection .profileContent .profileHeader .headerContent{
    margin-left: 10px;
}

#profileSection .profileHeader .profileImage img {
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 50%;
}

#profileSection .profileContent .profileBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profileSection .profileContent .profileBody .descIcon{
    width: 25px;
    height: 25px;
}

#profileSection .profileContent .profileBody .profileDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}

#profileSection .profileContent .profileBody .profileDetails p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 15px;
}

#profileSection .profileContent .profileBody .profileDetails .btn{
    /* background-color: rgb(0, 0, 0); */
    color: #fff;
}

.submitBtn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}

.submitBtn .btn{
    margin: 10px;
}