@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/* font-family: 'Reggae One', cursive; */
/* font-family: 'Mate SC', serif; */
/* font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    top: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
    padding: 5px;
}

#navbar .mainLogo {
    display: inline-block;
    /* flex-direction: row; */
}

#navbar .mainLogo img {
    height: 40px;
    width: 100px;
}

#navbar .navContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar .navContent ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .navContent ul li {
    list-style: none;
    position: relative;
    z-index: 99;
}

#navbar .navContent ul li a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 4px 16px;
    cursor: pointer;
}

#navbar .navContent ul>li>a::after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -4px;
    max-width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s;
    overflow: hidden;
}

#navbar .navContent ul li a:hover::after {
    transform: scaleX(1);
}

#navbar .navBtn ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

#introSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#introSection h1 {
    text-align: center;
    padding: 35px 0px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

#introSection p {
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    text-align: center;
}

#introSection .introContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

#introSection .introImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introSection .introImage img {
    height: 300px;
    width: 350px;
}

#introSection::before {
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 950px;
    position: absolute;
    /* background: url("../bg/bg1.jpg") no-repeat center center/cover; */
    z-index: -1;
    opacity: 1;
}

#joinSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 80vh;
}

#joinSection .joinLeft {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    /* justify-content: space-around; */
    padding-bottom: 50px;
}

#joinSection .joinLeft p {
    margin: 20px 0;
}

#joinSection .joinLeft h3 {
    margin: 20px 0 0 0;
}

#joinSection .joinLeft h5 {
    margin: 10px 0;
}

#joinSection .joinRight {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* padding: 20px 0; */
    gap: 20px;
    height: 80%;
    width: 30%;
}

#joinSection .joinRight .circle {
    background-color: rgb(129, 191, 245);
    /* background: transparent;
    backdrop-filter: blur(20px); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
}

#joinSection .joinRight .circle p {
    padding: 0 10px;
}

#joinSection .joinRight .c1 {
    top: 0;
    left: 0;
}


#joinSection .joinRight .c2 {
    top: 0;
    right: 0;
}

#joinSection .joinRight .c3 {
    bottom: 0;
    left: 0;

}

#joinSection .joinRight .c4 {
    bottom: 0;
    right: 0;
}

#placedSection {
    height: 80vh;
    background-color: #abf1ce;
    text-align: center;
    overflow: hidden;
}

#placedSection h1 {
    font-weight: 900;
    margin: 50px 30px;
}

#placedSection .logoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#placedSection .logoSection img {
    height: 60px;
    width: 120px;
    margin: 20px 30px;
}

#reviewSection .reviewBody{
    background-color: burlywood;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#reviewSection .reviewBody .review{
    background-color: #1d5bf6;
    color: #fff;
    margin: 0 20px;
    border-radius: 10px;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#reviewSection .reviewBody .review h1{
    font-size: 4rem;
    margin: 15px 0;
}

#reviewSection .reviewBody .review .cmp{
    width: 172px;
    height: 44px;
    margin: 20px;
}

#reviewSection .reviewBody .review p{
    font-weight: 550;
    margin: 10px;
}

#newsSection .newsBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #abf1ce;
    height: 70vh;
    
}

#newsSection .newsBody .newsLeft iframe{
    height: 350px;
    width: 450px;
    border: 5px solid #d1d0d0;
    border-radius: 15px;
    margin: 20px 40px;
}

#newsSection .newsBody .newsLeft{
    margin: 0px 0px 0px 40px;
}

#newsSection .newsBody .newsLeft iframe:hover{
    border: 5px solid #000000;
}

#newsSection .newsBody .newsRight{
    margin: 0px 180px 0px 0px;
    width: 30%;
}

#newsSection .newsBody .newsRight h1{
    margin: 10px 0px;
}

#contactSection .contactBody{
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

#contactSection .contactBody .contactLeft img{
    height: 70px;
    width: 220px;
}

#contactSection .contactBody .contactLeft p{
    word-wrap: break-word;
}

#contactSection .contactBody .contactRight h1{
    margin: 10px 0;
}

#contactSection .contactBody .contactRight{
    word-wrap: break-word;
}

#contactSection .contactBody .contactRight .contactLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#contactSection .contactBody .contactRight .contactLogo img{
    filter: invert(1);
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    word-wrap: break-word;
}

#contactSection .contactBody .contactRight .contactLogo a:hover{
    filter:opacity(0.7);
}

#contactSection .contactBody .contactRight .contactLink{
    height: 50%;
    margin-top: 30px;
}

#contactSection .contactBody .contactRight .contactLink a{
    position: relative; 
    text-decoration: none;
    color: #fff
}

#contactSection .contactBody .contactRight .contactLink a::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    max-width: 100%;
    height: 14%;
    background-color: #fff;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s;
    overflow: hidden;
}

#contactSection .contactBody .contactRight .contactLink a:hover::after{
    transform: scaleX(1);
}

#contactSection .contactBody .contactRight .contactLink img{
    filter: invert(1);
    width: 20px;
    height: 20px;
    margin: 0px 10px 0 0;
    word-wrap: break-word;
}

#contactSection .contactBody .contactRight .contactLink .phone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

#contactSection .contactBody .contactRight .contactLink .mail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}








.customBtn {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0px 5px;
    line-height: -1px;
    cursor: pointer;
    border: none;
}

.customBtn:hover {
    border-radius: 5px;
    color: black;
    background-color: #c2c1c1;
}

.gradient-background {
    background: linear-gradient(45deg, #1b8efa, #dbfa2e);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}