
@media only screen and (max-width: 400px) {
    #introSection .introBody {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #introSection h1 {
        padding: 25px 0px;
        font-size: 1.5rem;
    }
    
    #introSection .introBody p {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
    
    #introSection .introBody .introContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 250px;
    }
    
    #introSection .introBody .introImage {
        display: none;
    }

    #contactSection .contactBody {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #contactSection .contactBody .contactLeft{
        align-items: center;
    }

    #contactSection .contactBody .contactLeft img {
        height: 30px;
        width: 100px;
        margin: 10px;
    }
    #contactSection .contactBody p,
    a {
        font-size: 0.8rem;
    }

    #contactSection .contactBody .contactRight h1 {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    #contactSection .contactBody .contactRight{
        margin: 10px;
    }

    #contactSection .contactBody .contactRight .contactLogo img {
        width: 20px;
        height: 20px;
        margin: 2px 2px;
    }

    #contactSection .contactBody .contactRight .contactLink {
        margin-top: 10px;
    }
}

@media only screen and (min-width:400px) and (max-width: 700px) {
    #introSection .introBody {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    #introSection h1 {
        padding: 25px 0px;
        font-size: 1.5rem;
    }
    
    #introSection .introBody p {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
    
    #introSection .introBody .introContent {
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
    }
    
    #introSection .introBody .introImage {
        display: none;
    }
    
    #contactSection .contactBody {
        flex-direction: column-reverse;
        align-items: center;
    }

    #contactSection .contactBody .contactLeft{
        align-items: center;
    }

    #contactSection .contactBody .contactLeft img {
        height: 30px;
        width: 100px;
        margin: 10px;
    }

    #contactSection .contactBody p,
    a {
        font-size: 0.8rem;
    }

    #contactSection .contactBody .contactRight{
        margin: 20px;
    }

    #contactSection .contactBody .contactRight h1 {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    #contactSection .contactBody .contactRight .contactLogo img {
        width: 30px;
        height: 30px;
        margin: 3px 3px;
    }

    #contactSection .contactBody .contactRight .contactLink {
        height: auto;
        margin-top: 15px;
    }

    #contactSection .contactBody .contactRight .contactLink a::after {
        bottom: -4px;
        max-width: 100%;
        height: 10%;
        border-radius: 10px;
    }

    #contactSection .contactBody .contactRight .contactLink img {
        width: 15px;
        height: 15px;
        margin: 0px 10px 0 0;
    }

    #contactSection .contactBody .contactRight .contactLink .phone {
        margin: 6px;
    }

    #contactSection .contactBody .contactRight .contactLink .mail {
        margin: 6px;
    }
}

@media only screen and (min-width:700px) and (max-width: 900px) {

    #introSection .introBody {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    #introSection h1 {
        padding: 35px 0px;
        font-size: 2rem;
    }
    
    #introSection .introBody p {
        padding: 10px 20px;
        font-size: 1rem;
    }
    
    #introSection .introBody .introContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
    }
    
    #introSection .introBody .introImage {
        display: none;
    }

    #newsSection .newsBody {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #62d4e9;
        height: auto;
    }
    
    #newsSection .newsBody .newsLeft iframe {
        height: 250px;
        width: 350px;
        margin: 50px 30px;
        border: 3px solid #cafaf4;
    }
    
    #newsSection .newsBody .newsLeft {
        margin: 0px 0px 0px 40px;
    }
    
    #newsSection .newsBody .newsLeft iframe:hover {
        border: 3px solid #00c2fd;
    }
    
    #newsSection .newsBody .newsRight {
        margin: 0px 90px 0px 0px;
        width: 30%;
    }
    
    #newsSection .newsBody .newsRight h1 {
        font-size: 1.5rem;
        margin: 10px 0px;
    }
    
    #newsSection .newsBody .newsRight p {
        font-size: 0.8rem;
    }

    #contactSection .contactBody .contactLeft img {
        height: 40px;
        width: 130px;
    }

    #contactSection .contactBody p,
    a {
        font-size: 0.8rem;
    }

    #contactSection .contactBody .contactRight {
        margin: 20px;
    }

    #contactSection .contactBody .contactRight h1 {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    #contactSection .contactBody .contactRight .contactLogo img {
        width: 30px;
        height: 30px;
        margin: 3px 3px;
    }

    #contactSection .contactBody .contactRight .contactLink {
        height: auto;
        margin-top: 15px;
    }

    #contactSection .contactBody .contactRight .contactLink a::after {
        bottom: -4px;
        max-width: 100%;
        height: 10%;
        border-radius: 10px;
        transform: scaleX(0);
    }

    #contactSection .contactBody .contactRight .contactLink img {
        width: 15px;
        height: 15px;
        margin: 0px 10px 0 0;
    }

    #contactSection .contactBody .contactRight .contactLink .phone {
        margin: 6px;
    }

    #contactSection .contactBody .contactRight .contactLink .mail {
        margin: 6px;
    }
}