@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#InstructorSection {
    background-color: rgb(218, 248, 194);
    height: auto;
    overflow: hidden;
}

#InstructorSection .instructorBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


#InstructorSection .PageTitle h1{
    font-size: 2rem;
    text-align: left;
    margin: 30px;
}

#InstructorSection .instructorBody .instructorBox {
    width: 45%;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -1px 10px 20px #16161633;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingImg img {
    height: 100px;
    width: 100px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent {
    margin-left: 30px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h3 {
    font-weight: 450;
    font-size: 0.9rem;
}

#InstructorSection .instructorBody .instructorBox .instructorContent p {
    color: #4d4c4c;
}

.submitBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}