@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#InstructorSection {
    /* background-color: #e9fbff; */
    background: linear-gradient(45deg, #a4f1fc, #349ff7);
    height: auto;
    overflow: hidden;
}

#InstructorSection .instructorBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


#InstructorSection .PageTitle {
    font-size: 1.8rem;
    text-align: left;
    margin: 30px;

}

#InstructorSection .instructorBody .instructorBox {
    flex: 1 1 calc(45% - 20px);
    min-width: 30%;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -1px 10px 20px #16161633;
    /* background: linear-gradient(45deg, #ffffe9, #f3f5d4); */
    background-color: #d6faff;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingImg img {
    height: 100px;
    width: 100px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent {
    margin-left: 30px;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h3 {
    font-weight: 450;
    font-size: 0.9rem;
    color: gray;
}

#InstructorSection .instructorBody .instructorBox p {
    font-size: 1rem;
}

#InstructorSection .instructorBody .instructorBox .instructorCourses {
    background-color: #bfe9fa;
    padding: 20px;
    border-radius: 5px;
}

#InstructorSection .instructorBody .instructorBox .instructorCourses h3 {
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#InstructorSection .instructorBody .instructorBox .instructorCourses ul {
    list-style: square;
}


/* -------------- */

/* Responsive */

/* -------------- */

@media only screen and (max-width: 400px) {
    #InstructorSection .instructorBody {
        flex-direction: column;
    }

    #InstructorSection .PageTitle {
        font-size: 1rem;
    }

    #InstructorSection .instructorBody .instructorBox {
        margin: 15px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingImg img {
        height: 50px;
        width: 50px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent {
        margin-left: 15px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h2 {
        font-size: 1rem;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h3 {
        font-size: 0.7rem;
    }

    #InstructorSection .instructorBody .instructorBox p {
        font-size: 0.8rem;
    }

    #InstructorSection .instructorBody .instructorBox .instructorCourses h3 {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorCourses {
        padding: 10px;
    }
}

@media only screen and (min-width:400px) and (max-width: 700px) {
    #InstructorSection .instructorBody {
        flex-direction: column;
    }

    #InstructorSection .PageTitle {
        font-size: 1.3rem;
        margin: 30px;
    }

    #InstructorSection .instructorBody .instructorBox {
        margin: 15px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingImg img {
        height: 60px;
        width: 60px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent {
        margin-left: 20px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h2 {
        font-size: 1.1rem;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h3 {
        font-size: 0.8rem;
    }

    #InstructorSection .instructorBody .instructorBox p {
        font-size: 0.9rem;
    }

    #InstructorSection .instructorBody .instructorBox .instructorCourses h3 {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorCourses {
        padding: 15px;
    }
}

@media only screen and (min-width:700px) and (max-width: 900px) {
    #InstructorSection .PageTitle {
        font-size: 1.3rem;
        margin: 30px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingImg img {
        height: 80px;
        width: 80px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h2 {
        font-size: 1.3rem;
    }

    #InstructorSection .instructorBody .instructorBox .instructorHeading .headingContent h3 {
        font-size: 0.8rem;
    }

    #InstructorSection .instructorBody .instructorBox p {
        font-size: 0.9rem;
    }

    #InstructorSection .instructorBody .instructorBox .instructorCourses h3 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    #InstructorSection .instructorBody .instructorBox .instructorCourses {
        padding: 20px;
    }
}

/* -------------- */

.nilText {
    color: rgb(223, 6, 6);
    text-align: center;
}

.addNew {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addNew h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}