@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Reggae+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#userSection {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userSection .userHeading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 30px;
}
#userSection .userBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

#userSection .userContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(133, 232, 250);
    width: 27%;
}

#userSection .userContent .userHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#userSection .userContent .userHeader h3{
    color: black;
    
}

#userSection .userContent .userHeader h5{
    color: rgb(73, 73, 73);
    font-size: 1.2rem;
}

#userSection .userContent .userHeader .headerContent{
    margin-left: 10px;
}

#userSection .userHeader .userImage img {
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 50%;
}

#userSection .userContent .userFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#userSection .userContent .userFooter .descIcon{
    width: 25px;
    height: 25px;
}

#userSection .userContent .userFooter .userDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}

#userSection .userContent .userFooter .userDetails p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 15px;
}

#userSection .userContent .userFooter .userDetails .btn{
    color: #fff;
}

.submitBtn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}

.submitBtn .btn{
    margin: 10px;
}