* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

#adminHomeContent{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #a4f1fc, #349ff7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminHomeContent .adminHomeTitle{
    text-align: center;
    margin: 30px 0;
}

#adminHomeContent .table{
    font-size: 1.5rem;
}

#adminHomeContent .table thead tr th{
    padding: 20px;
}

#adminHomeContent .table tbody tr th, td {
    padding: 20px;
    text-align: center;
}

#adminHomeContent .table thead tr th:first-child{
    border-top-left-radius: 10px;
}

#adminHomeContent .table thead tr th:last-child{
    border-top-right-radius: 10px;
}