.bootstrap-tagsinput .tag {
    color: #000000;
}

.bootstrap-tagsinput {
    margin: 0;
    width: 100%;
    padding: 0.5rem 0.75rem 0;
    font-size: 1rem;
    line-height: 1.25;
    transition: border-color 0.15s ease-in-out;

    &.has-focus {
        background-color: #fff;
        border-color: #5cb3fd;
    }

    .label-info {
        display: inline-block;
        background-color: #7bc974;
        padding: 0 .4em .15em;
        border-radius: .25rem;
        margin-bottom: 0.4em;
    }

    input {
        margin-bottom: 0.5em;
    }
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: '\00d7';
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0px 6px;
    margin: 0;
    width: auto;
    height: 2rem;
    max-width: inherit;
}